################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/sharp_iron/v15/Browse.VC.db
/.vs/sharp_iron/v15/.suo
/.vs
/clr_c_api/.vs/clr_c_api/v15
/clr_c_api/clr_c_api/Debug
/clr_c_api/Debug
/clr_c_api/clr_c_api/x64/Debug
/clr_c_api/x64/Debug
/clr_rust/target/debug
/clr_rust/out.txt
/clr_rust/1
/clr_c_api/clr_c_api/x64
/clr_c_api/x64
/clr_rust/clr_c_api.lib
/clr_rust/clr_c_api.dll
